.sign-up .sign-up-form
{
    background-color:#fff;
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    float: right;
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px 0px #707070;
    border-radius: 10px;
    margin-bottom: 50px;
}
.sign-up .sign-up-form form
{
    width: 60%;
    display: block;
    margin: 0 auto;

}
.sign-up .sign-up-form form label
{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.sign-up .sign-up-form form input
{
    border: 1px solid #ADB8E6;
    padding: 8px;
    width: 100%;
    outline: none;
    position: relative;
    border-radius: 7px;
    padding-right: 35px;
}

.sign-up .sign-up-form form .eye
{
    margin-top: 2px;
    left: 30px;
    right: auto;
    color: #9d9d9d;
}
.sign-up .sign-up-form form button
{
    border: 1px solid #ADB8E6;
    padding: 10px;
    width: 200px;
    background-color: #1E3799;
    color: #fff;
    display: block;
    transition: all .6s ease-in-out;
    margin: 0 auto;
    outline: none;
    border-radius: 7px;
    margin-top: 25px;
}
.sign-up .sign-up-form form button:hover
{
    background-color: #079992;
}
.sign-up .sign-up-form form i
{
    position: absolute;
    right: 28px;
    top: 51px;
    color: #079992;
    z-index: 9999;
}
.sign-up .sign-up-form form .forgetPass
{
    float: left;
    text-decoration: none;
    padding-top: 15px;
    display: block;
    width: 100%;
    text-align: left;
    color: #079992;
    margin-left: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.sign-up .sign-up-form form h1
{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #079992;
}
.sign-up .sign-up-form form .custom
{
    border: 1px solid #079992;
    width: 100%;
    display: block;
    background-color: #fff;
    float: right;
    padding: 5px;
    text-align: center;
    line-height: 35px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    color: #079992;
    margin-top: 10px;
    margin-bottom: 30px;
}
.sign-up .sign-up-form form .custom img
{
    float: right;
    width: 30px;
}
.sign-up .sign-up-form form span
{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    font-weight: bolder;
}
.sign-up .sign-up-form form span a
{
    color: #079992;
    text-decoration: none;
}
.sign-up .sign-up-form form .agree
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.sign-up .sign-up-form form .agree label
{
    display: inline-block;
}
.sign-up .sign-up-form form .agree input
{
    width: 20px;
    float: right;
    margin-top: 12px;
    margin-left: 10px;
}
.login .form-login
{
    background-color:#fff;
    display: block;
    margin: 0 auto;
    margin-top: -40px;
    float: right;
    width: 100%;
    padding: 30px 20px;
    border: 1px solid #707070;
    box-shadow: 0px 0px 5px 0px #707070;
    border-radius: 10px;
    margin-bottom: 50px;
}
.login .form-login form
{
    width: 60%;
    display: block;
    margin: 0 auto;

}
.login .form-login form label
{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}
.login .form-login form input
{
    border: 1px solid #ADB8E6;
    padding: 8px;
    width: 100%;
    outline: none;
    position: relative;
    border-radius: 7px;
    padding-right: 35px;
}

.login .form-login form .eye
{
    margin-top: 2px;
    left: 30px;
    right: auto;
    color: #9d9d9d;
}
.login .form-login form button
{
    border: 1px solid #ADB8E6;
    padding: 10px;
    width: 200px;
    background-color: #1E3799;
    color: #fff;
    display: block;
    transition: all .6s ease-in-out;
    margin: 0 auto;
    outline: none;
    border-radius: 7px;
    margin-top: 25px;
}
.login .form-login form button:hover
{
    background-color: #079992;
}
.login .form-login form i
{
    position: absolute;
    right: 28px;
    top: 51px;
    color: #079992;
    z-index: 9999;
}
.login .form-login form .forgetPass
{
    float: left;
    text-decoration: none;
    padding-top: 15px;
    display: block;
    width: 100%;
    text-align: left;
    color: #079992;
    margin-left: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
}
.login .form-login form h1
{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    color: #079992;
}
.login .form-login form .custom
{
    border: 1px solid #079992;
    width: 100%;
    display: block;
    background-color: #fff;
    float: right;
    padding: 5px;
    text-align: center;
    line-height: 35px;
    border-radius: 8px;
    font-weight: bolder;
    font-size: 14px;
    text-decoration: none;
    color: #079992;
    margin-top: 10px;
    margin-bottom: 30px;
}
.login .form-login form .custom img
{
    float: right;
    width: 30px;
}
.login .form-login form span
{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    font-weight: bolder;
}
.login .form-login form span a
{
    color: #079992;
    text-decoration: none;
}
.cart_count{
    position: absolute;
    background: red;
    right: 8px;
    top: -8px;
    /* padding: 2px 5px; */
    border-radius: 150px;
    width: 15px;
    height: 15px;
    font-size: 7px;
    line-height: 15px;
    color: #fff;
}
